body {
    background-color: #FF0066;
}
h1 {
    color: #99FF33;
    font-size: 500%;
    text-align: center;
    margin-top: 150px;
}


.btn {
    margin-left: 150px;
    
    font-size: 175%;
}
.answer-button {
    background-color: #99FF33;
}
#subwrapper {
    margin-left: 450px;
    margin-top: 100px;
    color: lightskyblue;
}

#reset {
    text-align: center;
    background-color: #99FF33;
    
}
image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

#playerName {
    margin-top:-20px;
    margin-left:-50px;
    font-size:large;
}
#map{
    margin-left:400px;
    margin-top:-100px;
}

#quiz-area{
    font-size:x-large;

}

.btn.btn-primary{
    margin-left: 150px;
    margin-top: -100px;
}